/* SVG styling */
svg {
	width: 900px;
	height: 900px;
}

#chart4 svg {
	height: 800px;
}
path {
	/*stroke: #777;*/
	stroke: rgb(255, 255, 255);
	stroke-width: 0.5px;
}

.labels {
	fill: #aaa;
	font-weight: 200;
	letter-spacing: -1px;
}
.labels.segment {
	font-size: 25px;
}

#chart3 .labels {
	fill: #555;
}